.videos {
  width: 80%;
  padding: 40px 20px;
  text-align: center;
  margin: 0 auto;
}

.videos h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Responsivité */
@media (max-width: 768px) {
  .videos {
      width: 100%;
    }
}