.footer {
  background: hsla(236, 100%, 8%, 1);
  background: linear-gradient(180deg, hsla(236, 100%, 8%, 1) 0%, hsla(213, 81%, 19%, 1) 0%, hsla(210, 100%, 56%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(236, 100%, 8%, 1) 0%, hsla(213, 81%, 19%, 1) 0%, hsla(210, 100%, 56%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(236, 100%, 8%, 1) 0%, hsla(213, 81%, 19%, 1) 0%, hsla(210, 100%, 56%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000328", endColorstr="#092C56", GradientType=1 );
  
  color: var(--text-title-color);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.footer.dark {
  background-color: var(--background-color-dark);
  color: var(--text-title-color-dark);
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.footer-about {
  padding:0;
}

.footer-links {

}
.footer-logo {

}
.footer-infos {

}
.footer-social {

}

.footer-links h4, .footer-social h4 {
  margin-bottom: 0.5rem;
}

.footer-links p, .footer-links ul, .footer-social p, .footer-social ul {
  line-height: 1.5;
  text-align: center;
  color: var(--p-color);
}

.footer-links ul, .footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links ul li, .footer-social ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a, .footer-social ul li a {
  text-decoration: none;
  color: var(--text-title-color)!important;
  text-shadow: 1px 1px 1px var(--text-shadow-color)!important; 
}

.footer-social ul li a {
  font-size: 2rem;
}

.footer-links ul li a:hover, .footer-social ul li a:hover {
  color: var(--text-title-color-dark)!important;
  text-shadow: 1px 3px 2px var(--text-title-color)!important; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-sections {
  flex-direction: column;
  gap: 1rem;
}

.footer-section {
  min-width: 100%;
}

.footer-logo-image {
  width: 150px;
  transition: transform 0.3s ease;
}

.footer-logo-image:hover {
  transform: scale(1.1);
}

.footer-infos a {
  color: var(--primary-color); 
  text-decoration: none;
}

.footer-infos a:hover {
  color: var(--hover-color);
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid #666;
  padding-top: 1rem;
  width: 100%;
}

.footer.dark .footer-bottom {
  border-top: 1px solid #ccc;
}

/* Responsivité */
@media (max-width: 768px) {
  .footer {
    margin: 0;
    padding:0;
  }
  .footer-sections {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .footer-about {
    padding: 15px;
  }
  .footer-about p {
    font-size: smaller;
  }
  .social-links {
    margin: 0;
    padding:0;
  }
  .footer-links h4, .footer-social h4 {
    font-size: 1.2rem;
  }  
  .footer-links p, .footer-links ul, .footer-social p, .footer-social ul {
    font-size: 0.9rem;
  }
}