.member-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px;
  background-color: var(--card-background-color);
  color: var(--text-title-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.body.dark .member-card {
  background-color: var(--card-background-color-dark);
  color: var(--text-title-color-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
}

.member-card:hover {
  transform: scale(1.03);
}

.member-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.member-content {
  padding: 15px;
}

.member-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.member-snippet {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666;
  text-align: left;
}

.member-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #999;
}