{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="countainer text-center my-5">
        <h1>Hello {{ user.firstname }} {{ user.lastname }}! ✅</h1>

    </div>

{% endblock %}
